/.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.pper
/.idea/.gitignore
/.idea/libraries/Course_7.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/r-practices.iml
/.idea/vcs.xml
.Rproj.user/shared/notebooks/paths
