/.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.pper
*.pper
.Rproj.user/F8865934/pcs/files-pane.pper
.Rproj.user/F8865934/pcs/source-pane.pper
.Rproj.user/F8865934/pcs/windowlayoutstate.pper
.Rproj.user/F8865934/pcs/workbench-pane.pper
.Rproj.user/F8865934/sources/prop/INDEX
.Rproj.user/F8865934/sources/session-a81e133a/B1DF1F2B-contents
.Rproj.user/F8865934/sources/session-a81e133a/BF30BB29-contents
.Rproj.user/F8865934/sources/session-a81e133a/DBAEF2D2-contents
.Rproj.user/F8865934/sources/session-a81e133a/E5BA5948-contents
.Rproj.user/F8865934/sources/session-a81e133a/FA8703A4-contents
.Rproj.user/F8865934/sources/session-a81e133a/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/F8865934/pcs/files-pane.pper
.Rproj.user/F8865934/pcs/windowlayoutstate.pper
.Rproj.user/F8865934/pcs/workbench-pane.pper
.Rproj.user/F8865934/sources/prop/INDEX
.Rproj.user/F8865934/sources/session-a81e133a/B1DF1F2B-contents
.Rproj.user/F8865934/sources/session-a81e133a/BF30BB29-contents
.Rproj.user/F8865934/sources/session-a81e133a/DBAEF2D2-contents
.Rproj.user/F8865934/sources/session-a81e133a/E5BA5948-contents
.Rproj.user/F8865934/sources/session-a81e133a/FA8703A4-contents
.Rproj.user/F8865934/sources/session-a81e133a/lock_file
.Rproj.user/shared/notebooks/paths
